<% for(var i=0; i< articles.length; i++) {%>
<a class="article-link">
    <div class="article-box">
        <div class="img-container-tile">
            <img src="/images/blog-stock.jpg" alt="">
        </div>
        <span class="title"><%=articles[i].title%></span>
    </div>
</a>
<%}%>