<section class="about-page">
    <h3>About this blog</h3>

    <p>This blog was created from scratch as a personal project to improve my web development skills. The articles posted here are all written by myself and the views expressed are all my own. </p>

    <p>If you'd like to see more of my stuff you can follow me on social media</p>
    <div class="social-icons">
        <a href="https://github.com/fishj123/"><i class="fab fa-github"></i></a>
        <a href="https://www.instagram.com/_jack_fisher/"><i class="fab fa-instagram"></i></a>
        <a href="https://twitter.com/fshr94"><i class="fab fa-twitter"></i></a>
        <a href="mailto:jackfisher5882@gmail.com"><i class="fas fa-envelope"></i></a>
    </div>

</section>