<section class="blog-article">
    
    <% for(var i =0; i < articleTitle.length; i++) { %>
        
        <%if (url.includes(articleTitle[i].split(' ').join('-'))) { %>
            
        <h3>
            <%= articleTitle[i] %>
        </h3>    
        <div>
            <span>
                <%= articleAuthor[i] %>
            </span>
            <span>
                <%= articleTime[i] %>
            </span>
        </div>    
        <p>
            <%= articleBody[i] %>
        </p>

    <% } %>

<% } %>

</section>
