<h1>Blogs</h1>

<section class="blogs-page">
   <% for(var i=0; i< articleTitle.length; i++) {%>
    <a class="article-link">
        <div class="article-box">
            <div class="img-container">
                <img src="/images/blog-stock.jpg" alt="">
            </div>
            <span class="title"><%=articleTitle[i]%></span>
        </div>
    </a>
    <%}%>
</section>