<section class="dashboard-page">
    <div class="content-block-1">

        <h3>Dashboard</h3>
        <p>Welcome Jack</p>
        <a href="/users/logout">Logout</a>
        <p>This is your Dashboard where you can view all of the blogs you have uploaded as well as write new ones </p>
    </div>

    <div class="create-blog">
        <form action="/api/articles" method="POST">
            <input type="text" placeholder="Title" id="title" name="title">
            <input type="text" placeholder="Author" id="author" name="author">
            <textarea id="body" cols="60" rows="30" name="body">

            </textarea>
            <button type="submit">
                Post Article
            </button>

        </form>
    </div>

    <div class="article-list">
       <% for(var i =0; i < articles.length; i++) { %>

        <div class="article-box">
            <div>
                <img src="/images/hero-img.jpg" alt="">
            </div>
            <span> 
                <%= articles[i].title %>
            </span>
            <span>
                <%= articles[i].author %>
            </span>
            <p>
                <%= articles[i].body %>
            </p>
            <form action="/delete-article" method="post">
                <input type="submit" name="remove" id="remove" value="Delete" />
            </form>
        </div>
        <% } %>
    </div>
</section>