<section class="dashboard-page">
    <h3>Dashboard</h3>
    <p>Welcome <%= name %></p>
    <a href="/users/logout">Logout</a>
    <p>This is your Dashboard where you can view all of the songs that you have favourited. </p>
</section>