<section class="hero">
  <div class="img-container">
    <img
      src="/images/hero-img.jpg"
      alt="Church tower with street in foreground"
    />
  </div>
<h3>Welcome</h3>
 
</section>
<h3 id="latest-blogs">Latest Blogs</h3>

<section class="latest-blogs">
<% include ./partials/article-tile %>
</section>
<button id="view-all-blogs">
  <a href="/blogs">View all blogs</a>
</button>
