<section class="hero">
    <div class="img-container">
        <img src="/images/hero-img.jpg" alt="Church tower with street in foreground">
    </div>

    <h3>Welcome to my blog</h3>

    <p>Scroll down to see the latest blogs</p>

</section>

<section class="latest-blogs">
    <div class="article-tile">
        <div class="img-container">
            <img src="/images/hero-img.jpg" alt="">
        </div>
        <p>Here is some placeholder text where I talk about the blog</p>
    </div>
    <div class="article-tile">
        <div class="img-container">
            <img src="/images/hero-img.jpg" alt="">
        </div>
        <p>Here is some placeholder text where I talk about the blog</p>
    </div>
</section>
