<!DOCTYPE html>
<html lang="en">
    <head>
        <title>My blog</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/css/Reset.css" rel="stylesheet">
        <link href="/css/style.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    </head>
    <body>

        <nav>
            <ul>
                <li>Home</li>
                <li>Blogs</li>
                <li>About</li>
            </ul>
        </nav>
        
        <%- body %>
    
    </body>
</html>