$primary: #33546d;
$secondary: #f1485b;
$font: #f7efed;
$complimentary: #7fa7b8;
$padding: 1rem;
$border-radius: 1rem;

html {
  font-size: 16px;
  color: $font;
  background-color: $primary;
  font-family: "Open Sans", sans-serif;
  
  a, a:hover {
    text-decoration: none;
    color: inherit;
  }

  h1 {
    font-size: 5rem;
  }

  h3 {
    font-size: 2rem;
  }
}

body {
  nav {
    display: flex;
    justify-content: flex-end;
    background-color: $secondary;
    margin-bottom: 2rem;
    box-shadow: 0px 1px 10px rgb(32, 32, 32);

    ul {
      display: flex;
      align-items: center;

      li {
        padding: $padding;
      }
    }
  }

  section.hero {
    .img-container {
      width: 80vw;
      height: 80vh;
      overflow: hidden;
      margin: auto;

      img {
        max-width: 100%;
        max-height: 100%;
        border-radius: $border-radius;
      }
    }

    h3 {
      position: absolute;
      padding: $padding;
      bottom: 40%;
      text-align: center;
      background-color: $secondary;
      text-transform: uppercase;
    }


    p {
        position: relative;
        bottom: 15vh;
        text-align: center;
        
    }
  }

  section.latest-blogs {
      display: flex;
      flex-direction: column;
      width: 100%;
  
        .article-tile {
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding: $padding;
            border-top: 1px solid rgb(94, 94, 94);
        
           .img-container {
               min-width: 30vw;
               min-height: 30vw;
               max-width: 30vw;
               max-height: 30vw;
               overflow: hidden;
               
           
                img {
                    max-height: 100%;
                    max-width: 100%;
                }
            }     

            p {
                padding: $padding;

            }

            .article-tile-text {
              display: flex;
              flex-direction: column;
              align-items: center;
            }
        }


    }


    .login-page {
      display: flex;
      flex-direction: column;
      align-items: center;

      h1 {
        margin-bottom: 2rem;
      }

      form {
        display: flex;
        flex-direction: row;
        align-items: center;

        * {
            margin: 1rem;
        }
      }
    }


    .dashboard-page {

      .content-block-1 {
      display: flex;
      flex-direction: column;
      align-items: center;

      a {
        margin-bottom: 2rem;
      }

      }

      .create-blog {

        form {
          display: flex;
          flex-direction: column;
          align-items: center;
        
          input {
            margin: 1rem;
          }

          button {
            margin: 1rem;
            background-color: $complimentary;
            border-radius: $border-radius;
            border: 1px solid black;
            padding: $padding / 2 $padding;
          }

        }


      }

      .article-list {
        display: flex;
        flex-direction: column;
        align-items: center;


        .article-box {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 30vw;
          background-color: $complimentary;
          padding: $padding;
          margin: 2rem;


          div {
            width: 10vw;
            height: 10vw;
            overflow: hidden;
            display: flex;
            justify-content: center;
            margin-bottom: 1rem;
          

            img {
              max-width: 100%;
              max-height: 100%;
              
            }

          }
              span {
              margin-bottom: 1rem;
              
            }

            p {
              line-height: 1.5rem;
            }
        }
      }

    }

}
