$primary: #33546d;
$secondary: #f1485b;
$font: #f7efed;
$complimentary: #7fa7b8;
$padding: 1rem;
$border-radius: 5px;

$ipadPro: "only screen and (min-width: 1025px)";
$phoneXL: "only screen and (min-width: 415px)";
$ipad: "only screen and (min-width: 769px)";

html {
  font-size: 16px;
  color: $font;
  background-color: $primary;
  font-family: "Open Sans", sans-serif;
  overflow-x:hidden;
  min-height: 100vh;
  
  a, a:hover {
    text-decoration: none;
    color: inherit;
  }

  h1 {
    font-size: 5rem;
  }

  h3 {
    font-size: 2rem;
  }

  .sitewide-container {
    max-width: 1400px;
    margin: auto;
    min-height: 100vh;
  }
}

// Partials styles

.article-box {

  .img-container-tile {
    width: 100%;
    overflow: hidden;

    img {
      max-width: 100%;
      max-height: 100%;
      min-width: 100%;
      min-height: 100%;
    }
  }

  span {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

body {
  

  nav {
    display: flex;
    justify-content: flex-end;
    background-color: $secondary;
    box-shadow: 0px 1px 10px rgb(32, 32, 32);

    ul {
      display: flex;
      align-items: center;

      li {
        padding: $padding;
      }
    }
  }

  section.hero {
    padding-top: 2rem;
    margin-bottom: 2rem;
    width: 100vw;
    margin-left: 50%;
    transform: translateX(-50%);

      @media #{$ipad} {
        background-image: url(../images/edinburgh.jpg);
        background-size: cover;
        background-position: center;
        height: 60vh;
      }
    
      @media #{$ipad} {
        display: flex;
        justify-content: flex-start;
        align-items: center;
      }


    .img-container {
      width: 80vw;
      height: 60vh;
      overflow: hidden;
      margin: auto;
      margin-bottom: 1rem;
      display: flex;
      justify-content: center;

      @media #{$ipad} {
        display: none;
      }

      @media #{$ipad} {
        margin: 0;
        width: 30vw;
        justify-content: flex-start;
        padding: $padding;
      }

      img {
        max-width: 100%;
        max-height: 100%;
        border-radius: $border-radius;
      }
    }

    h3 {
      position: absolute;
      padding: $padding;
      bottom: 40%;
      text-align: center;
      background-color: $secondary;
      text-transform: uppercase;


        @media #{$ipad} {
          position: relative;
          // height: 10vh;
          font-size: calc(4rem + 0.5vw);
          top: 3rem;
          left: 2rem;
      }
    }


    p {
        position: relative;
        // bottom: 15vh;
        text-align: center;
        
    }
  }

  #latest-blogs {
    text-align: center;
    margin-bottom: 1rem;
  }

  section.latest-blogs {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 2rem;
      width: 90%;
      margin: auto;
      max-width: 100vw;
      margin-bottom: 2rem;

      @media #{$ipad} {
        grid-template-columns: repeat(3, 1fr);
      }
  

    }

    #view-all-blogs {
      margin: auto;
      display: block;
      border: none;
      text-transform: uppercase;
      margin-bottom: 2rem;
      background-color: $complimentary;
      padding: 0.5rem 2rem;
    }

    .login-page {
      display: flex;
      flex-direction: column;
      align-items: center;

      h1 {
        margin-bottom: 2rem;
      }

      form {
        display: flex;
        flex-direction: row;
        align-items: center;

        * {
            margin: 1rem;
        }
      }
    }


    .dashboard-page {

      margin-top: 2rem;

      .content-block-1 {
      display: flex;
      flex-direction: column;
      align-items: center;

      a {
        margin-bottom: 2rem;
      }

      }

      .create-blog {

        form {
          display: flex;
          flex-direction: column;
          align-items: center;
        
          input {
            margin: 1rem;
          }

          button {
            display: block;
            border: none;
            text-transform: uppercase;
            margin: 2rem auto;
            background-color: $complimentary;
            padding: 0.5rem 2rem;
          }

        }


      }

      .article-list {
        display: flex;
        flex-direction: column;
        align-items: center;


        .article-box {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 30vw;
          background-color: $complimentary;
          padding: $padding;
          margin: 2rem;


          .img-container {
            width: 10vw;
            height: 10vw;
            overflow: hidden;
            display: flex;
            justify-content: center;
            margin-bottom: 1rem;
          

            img {
              max-width: 100%;
              max-height: 100%;
              
            }

          }
              span {
              margin-bottom: 1rem;
              
            }

            .article-body {
              line-height: 1.5rem;
              margin-bottom: 2rem;
            }

              .delete-button {
              border: none;
              text-transform: uppercase;
              color: $font;
              background-color: $secondary;
              padding: 0.5rem 2rem;
            }

            .confirm-delete-modal {
            display: none;
            flex-direction: column;
            text-align: center;
            margin-top: 1rem;

            p {
              margin-bottom: 1rem;
            }

                form {
                border: 0;
                background-color: $secondary;
                margin-bottom: 1rem;
                

                  input {
                    padding: 0.5rem 2rem;
                    background-color: inherit;
                    border: none;
                    text-transform: uppercase;
                    color: $font;

                  }
                }

                button {
                border: 0;
                // background-color: 
                padding: 0.5rem 2rem;
                text-transform: uppercase;
                }

              }

                input:hover {
                cursor: pointer;
              }
            
        }
      }

    }


    .blog-article {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: $padding;
      line-height: 1.5rem;
      padding-top: 2rem;

      h3 {
        margin-bottom: 3rem;
      }
    
      div {
        display: flex;
        justify-content: center;
        flex-direction: column;

        span {
          text-align: center;
          margin-bottom: 1rem;
        }

      }

      p {
        width: 80vw;

        @media #{$ipad} {
          width: 70%;
        }
      }
    
    }


    .blogs-page {
      width: 90%;
      margin: 2rem auto;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 2rem;
      padding-top: 2rem;

      @media #{$phoneXL} {
        grid-template-columns: repeat(2, 1fr);
      }

      @media #{$ipad} {
        grid-template-columns: repeat(3, 1fr);
      }

    }

    .about-page {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 2rem;


      h3 {
        margin-bottom: 2rem;

      }

      p {
        width: 60%;
        text-align: center;
      }

      .social-icons {
        display: flex;

        i {
          padding: $padding;
        }
      }
    }

    footer {
      min-height: 15rem;
      background-color: $secondary;
      display: flex;
      justify-content: center;
      align-items: center;
    }
}
